@import url("https://fonts.googleapis.com/css2.?family=Montserrat&display=swap");
/*body*/
@import url("https://fonts.googleapis.com/css2.?family=Montserrat&display=swap");
body {
  font-family: 'Monserrat', sans-serif;
  overflow-x: hidden; }

/*header*/
header {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: blue; }
  header p {
    color: white;
    display: flex;
    text-align: center; }

/*estilos nav*/
nav {
  background-color: white; }
  nav div a span {
    font-size: 20px;
    color: blue;
    font-weight: bold; }

/*footer*/
footer {
  background: #1b2a4e;
  min-height: 100px; }

footer p {
  color: #f3f3f3;
  text-align: center; }

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3; }
